<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>

<div class="container">


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">Список заявки</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/user/accepted">Список принятых <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/refusal">Список отказанных</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>


    <div class="ms-2">

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title" th:text="${user.username}"></h5>
                <h6 class="card-subtitle mb-2 text-muted" th:text="${user.fileCount} + ' файлов было отправлено'"></h6>
                <br>
                <h6 class="card-subtitle mb-2 text-muted" th:text="${user.phoneNumber}" ></h6>
                    <p class="card-text">Этот человек хочет отправить заявку в общежитье.</p>

                <button type="button" class="btn btn-danger"  data-bs-toggle="modal" data-bs-target="#confirmRefusalCarModal">
                    ОТМЕНИТЬ
                </button>

                <button type="button" class="btn btn-success"  data-bs-toggle="modal" data-bs-target="#confirmAcceptedCarModal">
                    ПРИНЯТЬ
                </button>

                <button type="button" style="height: 25pt; width: 50pt; font-size: 7pt; margin-top: 10pt" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteCarModal">
                    УДАЛИТЬ
                </button>

            </div>
        </div>

        </div>

        <!-- Модальное окно для удаления записи -->
        <div class="modal fade" id="confirmDeleteCarModal" tabindex="-1" aria-labelledby="confirmDeleteCarModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <form method="post" th:action="@{/deleteuser(id=${user.id})}">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="confirmDeleteCarModalLabel">Удалить</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</button>
                        </div>
                        <div class="modal-body">
                            Вы точно хотите удалить заявку?<span th:text="${user.username}"></span>?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
                            <button type="submit" class="btn btn-danger">YES</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <!-- Модальное окно для принятия заявки -->
        <div class="modal fade" id="confirmAcceptedCarModal" tabindex="-1" aria-labelledby="confirmAcceptedCarModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <form method="post" th:action="@{/user/accepted/details(id=${user.id})}">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="confirmAcceptedCarModalLabel">Принять</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</button>
                        </div>
                        <div class="modal-body">
                            Вы хотите принять этого пользователя <span th:text="${user.username}"></span>?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
                            <button type="submit" class="btn btn-danger">YES</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <!-- Модальное окно для отказа заявки -->
        <div class="modal fade" id="confirmRefusalCarModal" tabindex="-1" aria-labelledby="confirmRefusalCarModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <form method="post" th:action="@{/refusal/user(id=${user.id})}">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="confirmRefusalCarModalLabel">Отменить</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</button>
                        </div>
                        <div class="modal-body">
                            Вы точно хотите отменить заявку? <span th:text="${user.username}"></span>?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
                            <button type="submit" class="btn btn-danger">YES</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

</div>
</div>


        <!-- Подключаем Bootstrap JS и Popper.js -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
        </body>
        </html>
